<html>
<head>

</head>
<body>
	<% if(user !== undefined){ %>
	<h1><%= user.name %></h1>
	<% } %>
	<h1>Okie</h1>

	<% TheLoais.forEach(TheLoai =>{ %>
		<h1><%= TheLoai.name %></h1><hr>
		<% TheLoai.LoaiTin.forEach(lt => { %>
			<%= lt.name %> | 
		<% }) %>
		</br>
	<% }) %>
</body>
</html>