<html>
<head>

</head>
<body>

	<% TheLoais.forEach(TheLoai =>{ %>
		<h1><%= TheLoai.name %></h1><hr>
		<% TheLoai.LoaiTin.forEach(lt => { %>
			<%= lt.name %> | 
		<% }) %>
		</br>
	<% }) %>
	<script>

	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>