<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2016 &copy;</a> </div>
</div>
<!--end-Footer-part-->
<script src="../../admin_asset/js/jquery.min.js"></script> 
<script src="../../admin_asset/js/jquery.ui.custom.js"></script> 
<script src="../../admin_asset/js/bootstrap.min.js"></script> 
<script src="../../admin_asset/js/jquery.uniform.js"></script> 
<script src="../../admin_asset/js/select2.min.js"></script> 
<script src="../../admin_asset/js/jquery.dataTables.min.js"></script> 
<script src="../../admin_asset/js/matrix.js"></script> 
<script src="../../admin_asset/js/matrix.tables.js"></script>
</body>
</html>
